@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: theme('colors.accent.900');
    color: theme('colors.dark.100')
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: theme('colors.light.700');
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.accent.900');
}

